/* Layouts
---------------------*/
body{
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial, Helvetica, sans-serif;
}

body,html, #home{
    height: 100%;
    overflow-x: hidden;
}

/* Barra de Navegação
---------------------*/
nav.transparencia{
   background:rgba(0, 0, 0, 0.6); 
}

.navbar-expand-md .navbar-nav .nav-link{
    color: white;
    font-weight: 650;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color: #9bf0e1;
}

.navbar-light .navbar-toggler{
    border-color: #ffffff75;
}

.divisor{
    width: 1px ;
    background: white;
    margin: 10px 12px;

}
/* Capa
---------------------*/
.capa{
    text-align: center;
}

#home .btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px ;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-left: 20px;
    
}

#home .btn-roxo:hover{
    background: #6207e3;
    color: white ;
    transition: 0.4s;
}

#home .btn-roxo{
    background: #7c25f8;
}

#home .btn-branco{
    border: 2px solid white;
}

#home .btn-branco:hover{
    background: white;
    color: black ;
    transition: 0.4s;
}


/* Estrutura Conteúdos
---------------------*/
.caixa{
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos{
    background: white;
    font-weight: 500;
}

#recursos{
    color: white;
    font-weight: 500;
}

#servicos h3{
    color: #7c25f8;
}

#servicos h2{
    color: #7c25f8;
}

#recursos h3{
    color: #9be0e1 ;
    
}
#recursos h2{
    color: #ffffff ;

}

.albuns{
    padding: 10px 0;
}

.rotacionar{
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}

/* Rodapé
---------------------*/
footer{
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}




/* Tipografia
---------------------*/
#home h1{
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
    font-size: 9em;
    transition: 2s;
}
#servicos h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}    
#servicos h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}    
#recursos h2{
    font-size: 5em;
    font-weight: 700;
    letter-spacing: -0.04em;
}    
#recursos h3{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}  

@media (max-width: 575.98px) {
    #home h1{
        font-size: 3.6em;
    }
    #home .btn-branco{
        border: 2px solid white;
        margin-top: 15px;
    } 
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #home h1{
        font-size: 4em;
    }    
    #home .btn-branco{
        border: 2px solid white;
        margin-top: 15px;
    } 
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    #home h1{
        font-size: 5em;
    }
    #home .btn-branco{
        border: 2px solid white;
        margin-top: 0px;
    }   
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #home h1{
        font-size: 7em;
    }
    #home .btn-branco{
        border: 2px solid white;
        margin-top: 0px;
    }   
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home h1{
        font-size: 9em;
    }   
    #home .btn-branco{
        border: 2px solid white;
        margin-top: 0px;
    } 
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    #home h1{
        font-size: 9em;
    }
    #home .btn-branco{
        border: 2px solid white;
        margin-top: 0px;
    }    
}
